# Huawei configuration options

config MACH_HUAWEI
	bool "Huawei device"
	depends on ARCH_MSM
	help
	  Support for Huawei products

config MACH_HUAWEI_MSM8916
	bool "HUAWEI MSM8916"
	depends on ARCH_MSM8916
	select MACH_HUAWEI
	help
	  Support for MSM8916 Huawei variants

menu "Huawei board selection"

config MACH_C8817D
	bool "C8817D board"
	select MACH_HUAWEI_MSM8916
	help
	  Support for Huawei C8817D variant

endmenu
